{% extends 'basic.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/include/sweetalert/sweetalert.css" >
{% endblock %}
{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>Test work</h1>
        </div>
        <div class="row">
            <div class="col-md-12">

                <button class="btn btn-default btn-lg" type="button" value="" onclick="getUploadFile()">
                    <span class="glyphicon glyphicon-plus"></span> Upload
                </button>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascriptBottom %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/include/sweetalert/sweetalert.min.js"></script>
    <script src="/js/fileEditor.js"></script>
{% endblock %}
