<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

</head>
<body>

{% block body %}{% endblock %}
{% block javascriptBottom %}{% endblock %}

</body>
</html>
